@import "tailwindcss";

@theme inline {
  --color-brand-red: #8C2F39;
  --color-brand-rose: #BD8182;
  --color-brand-bg: #FFF4F4;
  --color-brand-cream: #F3EED9;
  
  --font-sans: var(--font-noto-sans-kr), Arial, Helvetica, sans-serif;
}

:root {
  --background: var(--color-brand-bg);
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
